.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 3.5rem;
    margin-bottom: 3rem;
    &__logo {
        cursor: pointer;
        img {
            width: 100%;
            height: 6.5rem;
            object-fit: cover;
        }
    }
}

.main-navigation {
    ul {
        display: flex;
        justify-content: space-between;
    }
    li {
        color: $white;
        font-size: 1.4rem;
        font-weight: 500;
        padding-right: 1.2rem;
        line-height: 1.1;
        letter-spacing: 0.2px;
        text-transform: uppercase;
        transition: all 300ms ease-in;
            &:hover {
                color: $red;
            }
    }
}